[workspace]
members = ["reversi_cli", "reversi_gui/src-tauri", "reversi_core", "datagen", "ffotest", "match_runner"]
resolver = "2"

[workspace.package]
version = "0.12.0"
edition = "2024"

[profile.release]
lto = "fat"
codegen-units = 1
panic = "abort"
