[workspace]
members = ["reversi_cli", "reversi_gui/src-tauri", "reversi_core", "datagen", "ffotest", "match_runner", "build_common"]
resolver = "2"

[workspace.package]
version = "0.12.0"
edition = "2024"

[workspace.dependencies]
build_common = { path = "build_common" }

[profile.release]
lto = "fat"
codegen-units = 1
panic = "abort"
